.main-content {
  margin-bottom: 20px;
}

.grid-movie-title {
  display: 'flex';
  font-size: 18px;
  color: #ffffff;
  width: inherit;

  .movieType {
    justify-content: center;
    padding: 8px 10px;
    max-width: 100vw;
    margin-bottom: 30px;
  }

  .paginate {
    text-align: right;
    margin-top: -2em;
  }
}
